{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <style type="text/css">
      img {
        max-width: 100%;
        max-height: 100%;
      }
    </style>
    <div class="col-12">
      <h1>Привет, меня зовут Денис</h1>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <p align="justify">Я закончил Московский Государственный Строительный Университет по специальности «Информационные системы и
        технологии». На данный момент являюсь студентом первого курса магистратуры РГУ нефти и газа им.Губкина по
        специальности «Информатика и вычислительная техника». Я обладаю навыками программирования на языке Python,
        прошел несколько курсов на платформе Stepik, также прохожу курс Яндекс.Практикум по Python-разработке.</p>
      <p align="justify">В процессе обучения не раз приходилось использовать этот навык, например для написания программ по шифровке и
        расшифровке сообщений различными видами симметричных и асимметричных шифров. Также имею навыки проектирования
        баз данных и написания sql-запросов, на хорошем уровне знаю пакет прикладных программ MS Office, больше всего
        приходилось работать в Excel и Visio. В Visio описывал бизнес-процессы в различных нотациях, таких как IDEF0,
        IDEF3, DFD и BPMN(в меньшей степени). Позиционирую себя как целеустремленного, ответственного,
        коммуникабельного, способному к обучению человеком.</p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img src="https://clck.ru/32TAE6">
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h2>Контакты для связи</h2>
          <p>Телефон: +7 (937) 013-23-33</p>
          <p>Почта: <a href="mailto: adv957@yandex.ru">adv957@yandex.ru</a></p>
          <p>Телеграм: <a href="https://t.me/AfonyaTriceps">@AfonyaTriceps</a></p>
          <p>ВКонтакте: <a href="https://vk.com/afonya09">https://vk.com/afonya09</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
