{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h2>Навыки:</h2>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          MS Office
        </li>
        <li class="list-group-item">
          IDEF0
        </li>
        <li class="list-group-item">
          IDEF3
        </li>
        <li class="list-group-item">
          DFD
        </li>
        <li class="list-group-item">
          BPMN
        </li>
        <li class="list-group-item">
          UML
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Позже я сюда что-то напишу, но пока тут будет лежать мемасик...</p>
      <img src="https://clck.ru/32TA4d">
    </article>
  </div>
{% endblock %}
